body {
	font-family: "League Spartan", sans-serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
}

.heading-xl {
	font-size: 25rem;
	font-weight: bold;
	line-height: 20rem;
	letter-spacing: -0.5rem;
}

.heading-l {
	font-size: 9.6rem;
	font-weight: bold;
	line-height: 8rem;
	letter-spacing: -0.2rem;
}

.heading-m {
	font-size: 7.2rem;
	font-weight: bold;
	line-height: 6.4rem;
	letter-spacing: -0.2rem;
}

.heading-s {
	font-size: 3.2rem;
	font-weight: bold;
	line-height: 4rem;
}

.hero-section__btn-slider-container__slide-btn {
	background-color: $dark-grey;
	color: $light-grey;
	cursor: pointer;
	margin: 0.5rem;
}
