.featured-section {
	margin-bottom: 15rem;
	padding: 0 3.2rem;

	@media screen and (max-width: 600px) {
		margin-bottom: 13.2rem;
	}

	.featured-title-part {
		@include flex-row-space-between;
		margin-bottom: 6.4rem;

		.button {
			@media screen and (max-width: 600px) {
				display: none;
			}
		}
	}

	.featured-cards-container {
		@include flex-row-space-between;
		flex-wrap: wrap;
	}

	.button {
		display: none;
		margin-top: 2.4rem;
		width: 100%;

		@media screen and (max-width: 600px) {
			@include flex-row-center;
		}
	}
}
