.hero-section {
	width: 100%;
	position: relative;
}

.swiper {
	position: relative;
	height: 72rem;
	margin: 0 !important;

	@media screen and (max-width: 600px) {
		height: 56rem;
	}
}

.hero-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.65);
}

.slider-hero-info {
	position: absolute;
	top: 18.6rem;
	left: 19rem;
	width: 54.4rem;
	color: $white;

	@media screen and (max-width: 1100px) {
		left: 10%;
	}

	@media screen and (max-width: 800px) {
		left: 0;
		width: auto;
		margin: 0 5.8rem;
	}

	@media screen and (max-width: 700px) {
		margin: 0 3.2rem;
	}

	@media screen and (max-width: 600px) {
		top: 24%;
		margin: 0 3.2rem;
	}
}

.hero-title {
	margin-bottom: 1rem;

	@media screen and (max-width: 600px) {
		font-size: 7rem;
		line-height: 6.8rem;
	}
}

.hero-description {
	margin-bottom: 4.1rem;
}

.swiper {
	position: static !important;
}

.swiper-pagination {
	width: 32rem !important;
	bottom: 0 !important;
	left: -8.1rem !important;
	display: inline-flex;
	position: absolute;

	@media screen and (max-width: 850px) {
		display: none;
	}
}

.swiper-pagination-bullet {
	border-radius: 0 !important;
	width: auto !important;
	height: auto !important;
	padding: 2.8rem 3.2rem;
	margin: 0 !important;
	color: $dark-grey;
	background-color: $white !important;
	opacity: 1 !important;
	font-weight: bold !important;
	transition: all 0.3s;

	&:hover {
		background-color: $very-light-grey !important;
	}

	&-active {
		background-color: $very-dark-blue !important;
		color: $white !important;
	}
}

.swiper-pagination-bullet-active {
	&:hover {
		background-color: $very-dark-blue !important;
	}
}
