.pagename {
	color: $light-grey;
	@include flex-row;
	align-items: center;
	text-transform: uppercase;
	width: 30%;
	position: absolute;
	left: -13.4rem;
	top: 21.8rem;
	transform: rotate(90deg);

	&__line {
		width: 10.4rem;
		height: 0.1rem;
		margin-right: 4.8rem;
		background-color: $light-grey;
		transition: all 0.3s;
	}

	&__page {
		font-size: 1.8rem;
		letter-spacing: 1.8rem;
		font-weight: 500;
		line-height: 2.4rem;
		transition: all 0.3s;
	}

	&:hover &__page {
		color: $very-dark-blue;
		letter-spacing: 2rem;
	}

	&:hover &__line {
		background-color: $very-dark-blue;
	}
}
