.smallTeams-section {
	margin-bottom: 20rem;
	height: 56rem;
	position: relative;
	overflow: hidden;

	@media screen and (max-width: 600px) {
		margin-bottom: 7.3rem;
	}

	.image-small {
		filter: brightness(0.65);
		transition: all 0.3s;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover .image-small {
		transform: scale(1.1);
		filter: brightness(0.8);
	}

	&__content {
		position: absolute;
		width: 44.5rem;
		top: 16.7rem;
		left: 19rem;

		.smallTeams-title {
			margin-bottom: 2.7rem;
			color: $white;
		}

		@media screen and (max-width: 1100px) {
			left: 0;
			margin-left: 10rem;
		}

		@media screen and (max-width: 850px) {
			margin-left: 5.4rem;
		}

		@media screen and (max-width: 600px) {
			margin: 0 3.2rem;
			margin-bottom: 7.3rem;
			width: 31.1rem;
		}
	}
}
