.welcome-section {
	margin-top: 10rem;
	margin-bottom: 20rem;
	position: relative;

	.bold-span {
		position: absolute;
		top: 0;
		left: 0;
		color: $very-light-grey;
	}

	&__content {
		@include flex-row;
		padding-top: 8.7rem;
		width: 100%;

		&__text-box {
			@include flex-row;
			padding: 7.4rem 21rem 1rem 19rem;
		}

		.welcome-title {
			margin-bottom: 4.3rem;
		}

		.welcome-text {
			color: $dark-grey;
		}
	}
}
