.welcome-section {
	margin-top: 10rem;
	margin-bottom: 20rem;
	position: relative;

	.welcome-img-container {
		overflow: hidden;
		min-width: 35rem;

		&:hover .welcome-img {
			transform: scale(1.1);
			filter: brightness(1.1);
		}

		.welcome-img {
			transition: all 0.3s;
			z-index: -1;
		}
	}

	.bold-span {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__content {
		@include flex-row;
		padding-top: 8.7rem;
		width: 100%;

		&__text-box {
			@include flex-row;
			padding: 7.4rem 21rem 1rem 19rem;
		}

		.welcome-title {
			margin-bottom: 4.3rem;
		}

		.welcome-text {
			color: $dark-grey;
		}
	}
}
