// Abstract
@import "./abstract/mixins";
@import "./abstract/variables";

// Base
@import "./base/animations";
@import "./base/base";
@import "./base/typography";

// Components
@import "./components/pagination.styles";
@import "./components/button.styles";
@import "./components/hero.styles";
@import "./components/welcome.styles";
@import "./components/smallTeams.styles";
@import "./components/featured.styles";
@import "./components/portfolioCard.styles";
@import "./components/aboutHero.styles";
@import "./components/aboutContent.styles";
@import "./components/heritage.styles";
@import "./components/leaders.styles";
@import "./components/contactDetails.styles";
@import "./components/contactForm.styles";
@import "./components/map.styles";

// Routes
@import "./routes/navigation.styles";
@import "./routes/footer.styles";
